/* CSS declarations go here */
#content {
	margin: 20px;
}

span.label {
	font-size: 	14px;
	display: 	inline-block;
	clear: 		both;
	padding:	5px;
}

.navtab {
	display: none;
}

.play {
	display: block;
}

.label-success > .glyphicon.glyphicon-remove-sign{
	display: none;
}

.label-danger > .glyphicon.glyphicon-ok-sign{
	display: none;
}

.panel-title {
	font-weight: bold;
}